* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

/* loader */
.loader-transitions {
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
}

.loader-transitions > span.loader-block {
	display: block;
	float: left;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	transition: all 0.5s ease;
}

.loader-wrapper {
	height: 75px;
	width: 75px;
	background-color: transparent;
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	display: block;
	border: 8px solid #f7fbfe;
	border-radius: 50%;
	border-top: 8px solid #363638;
	width: 75px;
	height: 75px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*navbar*/
nav.navbar {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
}

nav.navbar > ul.navbar-list {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	background-color: black;
}

nav.navbar > ul.navbar-list > li.navbar-item {
	float: right;
}

nav.navbar > ul.navbar-list > li.navbar-item > a.navbar-link {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 18px 20px;
}

nav.navbar > ul.navbar-list > li.navbar-item > a.navbar-link:hover {
	background-color: blue;
}

.pull-left {
	float: left !important;
}